<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add client</title>
</head>
<body>
<h2>Add a new client</h2>
<div>
<form method="post" action="/client/new">
    <label>Client name <br/> <input type="text" name="clientName" placeholder="name"/></label> <br/> <br/>
    <label>Client address <br/> <input type="text" name="clientAddress" placeholder="address"/></label><br/><br/>
    <label>Client phone <br/> <input type="text" name="clientPhone" placeholder="phone"/></label><br/>
    <br/>
    <input type="submit"/>
</form>
</div>
</body>
</html>